body{
    text-align: center;
    background-color: rgb(4, 4, 105);
    color: white;
}
h2{
    font-size: 10em;
}
.heading{
    font-weight: bold;
}
.controls{
    font-size: 6em;
}
input{
    /* width: 20em;
    height: 6em; */
    font-display: 20px;
}
img{
    height: 10em;

}
.img{
    padding: 10px;
    background-color: blue;
    display: inline-block;
}
span.heading{
    background-color: goldenrod;
}